body {
    font-family: sans-serif;
    border: 2px solid black;
    padding: 5px;
}
h1 {
    font-size: 80px;
}
h2 {
    font-weight: normal;
}
.submit {
    font-size: 16px;
    border-radius: 0;
    margin: 5px 5px 20px 5px;
}
